@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arizonia&display=swap');



.body{
    color: white;
    font-family: Inter;
}

.font-banner{
    font-family: Arizonia;
    font-weight: 400;
    font-size: 7rem;
}
.para{
    font-weight: 400;
    font-size: 1rem;
    color: rgba(210, 210, 210, 0.5);
    margin: 0;
    padding: 10px;
}
.display{
    display: flex;
}
.align-items{
    text-align: center;
}
.h3{
    font-weight: 900;
    font-size: 3rem;
    margin: 0;
    padding-top: 30px;
}
.h6{
    font-weight: 600;
    font-size: 1.65rem;
    margin: 0;
}
.padding{
    padding: 58px 190px 58px 100px;
}
.btn-primary{
    border-radius: 40px;
    background-color: rgb(230, 83, 60);
    padding: 16px 40px 16px 40px;
    font-weight: 600;
    font-size: 1.125rem;
    text-decoration: none;
    color: white;
    border: none;
    margin-top: 20px;
}
#banner{
    background-color: rgba(7, 7, 7, 0.9);
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(3, 3, 3, 0.9) 100%);
    padding-bottom: 0;

}
.fitness{
    color: rgb(230, 83, 60);
    font-weight: 800;
    font-size: 2.25rem;
}
.navbar {
    display: flex;
    align-items: center;
    gap: 29rem;

}
#banner-img, .banner-title{
    height: 580px;
}
#banner section.display{
    gap: 160px; 
}
.banner-text{
    font-weight: 900;
    font-size: 4.875rem;
    margin: 0;
    padding-top: 64px;
}
.download-btn{
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 42px;
    padding: 16px 40px 16px 40px;
    font-weight: 600;
    font-size: 1.125rem;
    text-decoration: none;
    color: white;
    background-color: transparent;

}
#banner button{
    background-color: transparent;
    border: none;
    padding-top: 30px;
}
.navlist{
    display: flex;
    border: 1px solid rgba(255, 255, 255 , 0.1);
    box-sizing: border-box;
    border-radius: 39px;
    gap: 47px;
    list-style: none;
    padding-right: 40px;
}
.navlist li{
    padding: 15px 10px 15px 10px;
}
.navlist li a{
    font-weight: 400;
    font-size: 1.25rem;
    text-decoration: none;
    color: white;
}
.navlist li:hover a{
    border-radius: 45px;
    background-color: rgb(230, 83, 60);
    padding: 8px 20px 8px 20px;
    margin: 0;
}
.dropdown{
    display: none;
}
.tag-container{
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    position: relative;
}
.box-1{
    width: 193px;
    height: 98px;
    background: rgba(255, 255, 255, 0.1);
    top: -450px;
    left: 250px;
}
.box-2{
    width: 206px;
    height: 96px;
    background: rgba(48, 48, 48, 0.1);
    top: -280px;
    left: -100px;
}
.tag-container h1{
    font-size: 2.5rem;
    font-weight: 900;
    margin: 10px 0;
}
.tag-text{
    padding-left: 15px;
}
.tag-container p.para{
    padding: 0;
    opacity: 1.5;
}
.tag-container h4{
    font-size: 1.5rem;
    font-weight: 900;
    margin: 10px 0;
}
.circle{
    background-color: rgb(230, 83, 60);
    border-radius: 50%;
    position: relative;
    width: 40px;
    height: 40px;
    top: -45px;
    left: 5px;
}
main{
    background-color: black;
}
#habit img{
    border-radius: 50%;
    border: 4px solid rgb(86, 84, 84);
}
#habit div.display{
    gap: 25px;
    padding-top: 54px;
}
#run>div{
    background-color:  rgb(54, 53, 53);
    border-radius: 18px;
    padding: 41px 54px;
    max-width: 85%;
    justify-content: space-between;
}
#run img{
    border-radius: 18px;
}
#exercise{
    padding: 48px 70px;
}
#exercise p{
    font-weight: 500;
    font-size: 0.875rem;
    margin-bottom: 30px;
}
#exercise div.display{
    flex-direction: row;
    height: 288px;
    width: 69%;
}
#exercise div.display  p{
    font-size: 1rem;
    font-weight: 600;
    color: white;
    position: relative;
}
#exercise div.display img{
    height: 288px;
}
.img-box-1 img, .img-box-6 img{
    width: 420px;
}
.img-box-2 img, .img-box-4 img{
    width: 560px;
}
.img-box-3 img , .img-box-5 img{
    width: 350px;
}
.pic-1,.pic-2, .pic-3, .pic-4, .pic-5, .pic-6{
    height: 288px;
    position: relative;
    top: -308px;
}
.pic-1{
    background: rgba(6, 255, 210, 0.5);
    width: 420px;
    top: -309px;
}

.pic-1 >p, .pic-3 > p, .pic-5 >p , .pic-6>p{
    top: 230px;
    left: 50px;
}
.pic-2{
    width: 560px;
    background: rgba(255, 0, 0, 0.3);
}
.pic-3{
    
    width: 350px;
    background: rgba(0, 0, 0, 0.5);
}
.pic-4{
    width: 560px;
    background:rgba(0, 0, 0, 0.5);
    text-align: end;
}
.pic-5{
    width: 350px;
    background: rgba(66, 255, 0, 0.3);
}
.pic-6{
    width: 420px;
    background: rgba(0, 71, 255, 0.3);
}
.pic-2 >p{
    top: 50px;
    left: 50px;
}
.pic-4 > p{
    top: 50px;
    left: -50px;
}
.bmi-chart-cal{
    background-color: rgb(58, 58, 58);
    margin-top: 60px;
}
.bmi-chart{
    width: 50%;
    text-align: left;
}
#bmi table{
    margin-top: 30px;
}
table.para, th, td{
    border: 2px solid gray;
    font-size: 1.2rem;
    padding: 20px;
    border-collapse: collapse;
}
th,td{
    padding-right: 70px;
}
th{
    color: white;
    font-weight: 500;
}
.bmi-cal{
    color: rgb(255, 255, 255);
    text-align: left;
}
input[type=text], #bmi select , #bmi option{
    background-color: rgb(113, 108, 108, 0.5);
    border-radius: 11px;
    border: none;
    margin: 10px;
    font-size: 1.2rem;
    padding: 20px;
    color: rgb(172, 168, 168);
}
#activity, #sex{
    width: 100%;
}
input[type=submit]{
    width: 40%;
}
.trainers{
    margin: 58px 190px 58px 190px;
    width: 69%;
    background-color: rgb(58, 58, 58);
    border-radius: 16px;
    padding-top: 10px;
    padding-bottom: 5px;
}
.trainers div.display{
    justify-content: center;
    height: 280px;
}
.trainers img{
    border-radius: 16px;
    margin: 10px;
    width: 250px;
    height: 250px;
}
.trainer-intro{
    text-align: left;
    position: relative;
    top: -80px;
    left: 30px;
}
.trainer-intro p{
    color: rgb(8, 4, 4);
}
footer{background-color:rgb(58, 58, 58) ;}
#footer, #footer>div.display{
    gap: 150px;
}
#footer ul{
    list-style: none;
}
footer hr{
    opacity: 0.3;
    width: 80%;
}
.h4{
    font-weight: 600;
    font-size: 1.95rem;
    margin: 10px;
}
#footer ul>li{
    font-size: 1.3rem;
    margin-bottom: 10px;
}
.copyright{
    font-size: 1.2rem;
}













@media screen and (max-width: 576px) {
    .body{
        width: 100%;
    }
    #banner{
        padding: 50px 20px 0px 20px;
    }
    .display , #run div.display{
        flex-direction: column;
        gap: 45px;
    }
    .para{
        font-size: 1rem;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .h3{
        font-size: 2rem;
    }
    .padding, #exercise{
        padding: 35px 25px;
    }
    #banner section.display{
        height: max-content;
        width: fit-content;
        gap: 45px;
        margin-bottom: 0;
    }
    .navbar{
        width: 100%;
        justify-content: space-between;
        gap: 100px;
    }
    #dropdown-menu{
        margin-left: -150px;
    }
    .dropdown{
        display: block;
    }
    .navlist{
        display: none;  
    }
    #dropdown-menu:hover .navlist {
        display: flex;
        flex-direction: column;
        background-color: transparent;
        border: 1px solid rgb(176, 168, 168);
        border-radius: 20px;
        float: left;
        padding: 0;
        margin: 0;
        gap: 5px;
    }
    #dropdown-menu:hover .navlist li{
        margin: 5px;
        padding: 10px;
    }
    #dropdown-menu:hover .navlist li a{
        border-radius: 16px;
        background-color: rgb(230, 83, 60);
        padding: 8px 20px 8px 20px;
        margin: 0;
    }
    .button{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
    }
    .button button{
        padding-left: 0;
        margin: 0;
    }
    .button button a{
        padding: 16px 20px;
    }
    #banner .btn-primary, #banner .download-btn{
        padding: 10px auto;
        font-size: 1rem;
    }
    .banner-text{
        font-size: 2.25rem;
    }
    .font-banner{
        font-size: 3.4rem;
    }
    .banner-text, .button , #banner-img{
        text-align: left;
        margin: 0;
    }
    .banner-title{
        height: fit-content;
    }
    #banner-img .box-1{
       top: -550px;
       left: 180px;
       width: 45%;
    }
    .tag-container h1{
        font-size: 1.8rem;
    }
    .tag-container p.para{
        font-size: 0.8rem;
    }
    #banner-img .box-2{
        top: -430px;
        left: 5px;
    }
    #habit{
        text-align: center;
    }
    .h6{
        padding-top: 15px;
        font-size: 1.2rem;
    }
    #run img{
       width: 103%;
       height: 319px;
    }
    #run div.display{
        padding: 35px;
    }
    #exercise div.display{
        flex-direction: row;
        width: 100%;
        gap: 0;
    }
    #exercise img{
        width: 100%;
    }
    .pic-1 ,.pic-2, .pic-4, .pic-5{
        width: 100%;
        top: -305px;
    }
    .img-box-3, .img-box-6{
        display: none;
    }
    .img-box-1 ,.img-box-5{
        width: 58%;
    }
    .img-box-2, .img-box-4{
        width: 52%;
    }
    #exercise div.display  p{
        font-size: 0.8rem;
    }
    .pic-1 >p,.pic-2> p, .pic-5> p{
        left: 10px;
    }
    .pic-4> p{
        left: 0;
    }
    th , td {
        font-size: 1rem;
    }
    #bmi form div.display{
        flex-direction: row;
        gap: 0;
        width: 100%;
    }
    input[type=text]{
        width: 90%;
    }
    #sex{
        width: 100%;
    }
    input[type=submit]{
        width: 60%;
    }
    #activity{
        width: 94%;
    }
    .trainers div.display{
        gap: 10px;
        height: fit-content;
    }
    .trainers div.display div{
        height: 380px;
    }
    .trainers{
        width: 90%;
        margin-left: 20px;
    }
    .trainer-1 , .trainer-4{
        display: none;
    }
    .trainers img{
        width: 90%;
        height: 350px;
    }
    .trainer-intro{
        top: -100px;
        left: 50px;
    }
    #footer, #footer>div.display{
        gap: 35px;
    }
}














@media screen and (min-width:577px) and (max-width: 993px) {
    .body{
        width: 100%;
        margin: 0;
    }
    #banner{
        padding: 20px 60px 0px 60px;
    }
    .para{
        font-size: 1rem;
    }
    .padding{
        padding: 50px 35px;
    }
    #banner section.display{
        flex-direction: column;
        height: max-content;
        width: fit-content;
        gap: 45px;
        margin-bottom: 0;
        width: 100%;
    }
    .navbar{
        justify-content: space-between;
        gap: 100px;
    }
    .navlist {
        width: 90%;
        gap: 15px;
        margin-right: 40px;
    }
    .button{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 30px;
    }
    .button button{
        padding-left: 0;
        margin: 0;
    }
    .button button a{
        padding: 16px 20px;
    }
    #banner .btn-primary, #banner .download-btn{
        padding: 10px auto;
        font-size: 1rem;
    }
    .banner-text{
        font-size: 3.5rem;
    }
    .font-banner{
        font-size: 3.8rem;
    }
    .banner-text, .button {
        text-align: left;
        margin: 0;
    }
    .banner-title{
        height: fit-content;
    }
    #banner-img .box-1{
       top: -550px;
       left: 450px;
    }
    .tag-container h1{
        font-size: 2rem;
    }
    .tag-container p.para{
        font-size: 0.9rem;
    }
    #banner-img .box-2{
        top: -360px;
        left: 200px;
    }
    #habit{
        text-align: center;
    }
    #habit div.display{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
    .h6{
        padding-top: 15px;
    }
    #run img{
       width: 103%;
       height: 319px;
    }
    #run div.display{
        padding: 35px;
    }
    #exercise div.display{
        flex-direction: row;
        width: 100%;
        gap: 0;
    }
    #exercise img{
        width: 100%;
    }
    .pic-1 ,.pic-2,.pic-3, .pic-4, .pic-5, .pic-6{
        width: 100%;
        top: -305px;
    }
    #exercise div.display  p{
        font-size: 0.8rem;
    }
    .pic-1 >p,.pic-2> p, .pic-5> p{
        left: 10px;
    }
    .pic-4> p{
        left: 0;
    }
    #bmi .bmi-chart-cal, #footer{
        flex-direction: column;
        gap: 45px;
    }
    #bmi form div.display{
        flex-direction: row;
        gap: 0;
        width: 100%;
    }
    input[type=text]{
        width: 100%;
    }
    #activity{
        width: 98%;
    }
    input[type=submit]{
        width: 30%;
    }
    .trainers div.display div{
        height: 350px;
    }
    .trainers{
        width: 100%;
        height: fit-content;
        margin: 54px auto;
    }
    .trainers img{
        width: 91%;
        height: 250px;
    }
    .trainer-intro{
        top: -100px;
        left: 50px;
    }
    .trainer-intro .h6, .trainer-intro .para{
        font-size: 95%;
    }
}